@font-face {
    font-family: 'fonte';
    src: url("../Akira.otf") format("opentype");
}

@font-face {
    font-family: 'centros';
    src: url("../LEMONMILK-MediumItalic.otf") format("opentype");
}

body {
    height: 100vh;
}

header {
    width: 100%;
}

.btn {
    border-radius: 3px;
}

.btnNav {}

.AnimEsquerda {
    transform: translateX(-99%);
}

.AnimDireita {
    transform: translateX(99%);
}

.AnimOff {
    opacity: 1;
}

.mostrar {
    transform: translateX(0%);
    transform: translateY(0%);
    opacity: 1;
    transition: all ease-in-out 1s;
}

.menu-lateral {
    width: 50px;
    height: 100%;
    padding: 40px 0 40px 0;
    box-shadow: 0px 0 2px rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 70px;
    overflow: hidden;
    transition: .6s;
}

.menu-lateral:hover {
    width: 300px;
}

main {
    margin-left: 50px;
    transition: margin-left .6s;
}

.menu-lateral:hover+main {
    margin-left: 310px;
    transition: .6s;
}

.menu-lateral>ul {
    height: 100%;
    list-style-type: none;
    padding-inline-start: 0;
}

.btn-expande {
    width: 100%;
    padding-left: 10px;
}

.btn-expande>i {
    color: wheat;
    font-size: 25pt;
}

.itemMenuLateral:hover {
    background-color: rgb(93, 93, 255);
}

.itemMenuLateral {
    transition: .6s;
}

.itemMenuLateral>a {
    border-top: 2px rgba(0, 0, 0, 0.205) solid;
    color: wheat;
    font-size: 20px;
    padding: 10px 0px;
    display: flex;
    line-height: 40px;
    text-decoration: none;
}

.itemMenuLateral {}

.iconLateral {
    font-size: 22pt;
    margin-left: 10px;
}

.txt-link {
    margin-left: 40px;
    white-space: nowrap;
}

.dashbord-header {
    min-height: 120px;
}
.Ligar{
    background-color: green;
    padding: 10px 10px;
    box-shadow: 0px 0 2px rgb(0, 0, 0);
    width: 20%;
    position: absolute;
    right: 215px;
    bottom: 1px;
}